In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_2023 = pd.read_csv("C:\\multi_final\\data\\2023_combine.csv")
df_2023

,일시,대여소번호,대여소명,시간대,거치대수량,addr1,addr2,기온,강수형태,강수량,총생활인구수
0,2023-01-01,1124,1124. 발산역 6번 출구 뒤,0,15,우장산동,강서구,1.1,0,0.0,31739.5638
1,2023-01-01,1124,1124. 발산역 6번 출구 뒤,1,13,우장산동,강서구,1.5,0,0.0,30134.9426
2,2023-01-01,1124,1124. 발산역 6번 출구 뒤,2,12,우장산동,강서구,2.7,0,0.0,29525.7548
3,2023-01-01,1124,1124. 발산역 6번 출구 뒤,3,16,우장산동,강서구,3.4,0,0.0,29549.8044
4,2023-01-01,1124,1124. 발산역 6번 출구 뒤,4,15,우장산동,강서구,3.1,0,0.0,28951.7298
...,...,...,...,...,...,...,...,...,...,...,...
20635,2023-03-27,3798,3798. 그랜드아이파크아파트 앞,19,25,화곡6동,강서구,5.5,0,0.0,19423.5876
20636,2023-03-27,3798,3798. 그랜드아이파크아파트 앞,20,44,화곡6동,강서구,5.7,0,0.0,20416.4531
20637,2023-03-27,3798,3798. 그랜드아이파크아파트 앞,21,47,화곡6동,강서구,5.9,0,0.0,20885.6484
20638,2023-03-27,3798,3798. 그랜드아이파크아파트 앞,22,44,화곡6동,강서구,7.4,0,0.0,21382.1556
20639,2023-03-27,3798,3798. 그랜드아이파크아파트 앞,23,51,화곡6동,강서구,8.7,0,0.0,22439.8252

In [22]:
# 대여소 번호별 총 거치대 수를 사전으로 정의
total_docks = {
    1124: 6,
    1153: 17,
    1158: 20,
    1160: 20,
    1166: 10,
    2701: 26,
    2715: 25,
    2721: 12,
    2728: 55,
    3798: 11
}

In [23]:
# 거치대 수량을 해당 대여소의 총 거치대 수로 나누는 함수 정의
def calculate_dock_ratio(row):
    station_id = row['대여소번호']
    if station_id in total_docks:
        total_dock = total_docks[station_id]
        return row['거치대수량'] / total_dock
    else:
        return None  # 대여소 번호가 사전에 없는 경우 None 반환

In [24]:
df_2023['거치대비율'] = df_2023.apply(calculate_dock_ratio, axis=1)

In [25]:
# '일시'와 '시간대'를 결합하여 'datetime' 열 생성
df_2023['datetime'] = pd.to_datetime(df_2023['일시']) + pd.to_timedelta(df_2023['시간대'], unit='h')

In [26]:
# '대여소번호'를 'ID'로, '거치대수량'을 'count'로 이름 변경
df_2023.rename(columns={'대여소번호': 'ID', '거치대수량': 'count', '일시' : 'date', '시간대' : 'hour', '거치대비율':'ratio'}, inplace=True)

In [27]:
# 필요한 열만 선택
df_2023 = df_2023[['ID', 'date', 'hour', 'count', 'datetime', 'ratio']]
df_2023

         ID        date  hour  count            datetime     ratio
0      1124  2023-01-01     0     15 2023-01-01 00:00:00  2.500000
1      1124  2023-01-01     1     13 2023-01-01 01:00:00  2.166667
2      1124  2023-01-01     2     12 2023-01-01 02:00:00  2.000000
3      1124  2023-01-01     3     16 2023-01-01 03:00:00  2.666667
4      1124  2023-01-01     4     15 2023-01-01 04:00:00  2.500000
...     ...         ...   ...    ...                 ...       ...
20635  3798  2023-03-27    19     25 2023-03-27 19:00:00  2.272727
20636  3798  2023-03-27    20     44 2023-03-27 20:00:00  4.000000
20637  3798  2023-03-27    21     47 2023-03-27 21:00:00  4.272727
20638  3798  2023-03-27    22     44 2023-03-27 22:00:00  4.000000
20639  3798  2023-03-27    23     51 2023-03-27 23:00:00  4.636364

[20640 rows x 6 columns]

In [28]:
from sklearn.preprocessing import MinMaxScaler

# 정규화를 위한 스케일러 초기화
scaler = MinMaxScaler()

df_2023['ratio_scaled'] = scaler.fit_transform(df_2023['ratio'].values.reshape(-1,1))
# 결과 확인
print(df_2023.head())

     ID        date  hour  count            datetime     ratio  ratio_scaled
0  1124  2023-01-01     0     15 2023-01-01 00:00:00  2.500000      0.267857
1  1124  2023-01-01     1     13 2023-01-01 01:00:00  2.166667      0.232143
2  1124  2023-01-01     2     12 2023-01-01 02:00:00  2.000000      0.214286
3  1124  2023-01-01     3     16 2023-01-01 03:00:00  2.666667      0.285714
4  1124  2023-01-01     4     15 2023-01-01 04:00:00  2.500000      0.267857

C:\Users\hyeon\AppData\Local\Temp\ipykernel_25972\1041789336.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['ratio_scaled'] = scaler.fit_transform(df_2023['ratio'].values.reshape(-1,1))

In [29]:
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [40]:
# 시퀀스 데이터로 변환하는 함수
def create_dataset(X, y, look_back=1):
    Xs, ys = [], []
    for i in range(len(X) - look_back):
        v = X.iloc[i:(i + look_back)].values
        Xs.append(v)
        ys.append(y.iloc[i + look_back])
    return np.array(Xs), np.array(ys)

look_back = 3  # 과거 3개의 시간 단계를 사용하여 다음 단계를 예측

In [36]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model
from sklearn.preprocessing import MinMaxScaler

In [37]:
# 저장된 LSTM 모델 불러오기
model = load_model('C:\\multi_final\\deep_learning_code\\my_model.keras')

c:\Users\hyeon\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\saving\saving_lib.py:396: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 7 variables whereas the saved optimizer has 12 variables.
  trackable.load_own_variables(weights_store.get(inner_path))

In [62]:
# ID 1124에 대한 데이터만 추출
stop_data = df_2023[df_2023['ID'] == 1124]

# 입력 변수와 예측할 변수
X = stop_data[['datetime', 'ratio_scaled']]
y = stop_data['ratio_scaled']

In [63]:
# 시퀀스 데이터 생성
X_seq, y_seq = create_dataset(X, y, look_back)

# 저장된 LSTM 모델 불러오기
model = load_model('C:\\multi_final\\deep_learning_code\\my_model.keras')

c:\Users\hyeon\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\saving\saving_lib.py:396: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 7 variables whereas the saved optimizer has 12 variables.
  trackable.load_own_variables(weights_store.get(inner_path))

In [64]:
# 모델을 이용해 예측하기
predictions = model.predict(X_seq)

print(predictions)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type Timestamp).

In [60]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# 실제 값
actual = y_seq

# MSE 계산
mse = mean_squared_error(actual, predictions)
print(f'MSE: {mse}')

# RMSE 계산
rmse = sqrt(mse)
print(f'RMSE: {rmse}')

MSE: 0.006823103348784711
RMSE: 0.08260207835632655

In [61]:
from sklearn.metrics import r2_score

# R squared 계산
r2 = r2_score(actual, predictions)
print(f'R²: {r2}')

R²: 0.7118284880818426