In [1]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("C:\\multi_final\\data_2023_01.csv", encoding = 'cp949')
df

,date,ID,name,hour,count,addr1,addr2,temp,rain,rain_amount,people
0,2023-01-01,1124,1124. 발산역 6번 출구 뒤,0,15,우장산동,강서구,1.1,0,0,32841.1644
1,2023-01-01,1124,1124. 발산역 6번 출구 뒤,1,13,우장산동,강서구,1.5,0,0,34004.8554
2,2023-01-01,1124,1124. 발산역 6번 출구 뒤,2,12,우장산동,강서구,2.7,0,0,33876.3595
3,2023-01-01,1124,1124. 발산역 6번 출구 뒤,3,16,우장산동,강서구,3.4,0,0,33844.0585
4,2023-01-01,1124,1124. 발산역 6번 출구 뒤,4,15,우장산동,강서구,3.1,0,0,34478.9605
...,...,...,...,...,...,...,...,...,...,...,...
7441,2023-01-31,3798,3798. 그랜드아이파크아파트 앞,19,18,화곡6동,강서구,1.6,0,0,19826.3511
7442,2023-01-31,3798,3798. 그랜드아이파크아파트 앞,20,20,화곡6동,강서구,0.8,0,0,20370.7795
7443,2023-01-31,3798,3798. 그랜드아이파크아파트 앞,21,22,화곡6동,강서구,0.3,0,0,21258.3288
7444,2023-01-31,3798,3798. 그랜드아이파크아파트 앞,22,26,화곡6동,강서구,0,0,0,21819.8082
7445,2023-01-31,3798,3798. 그랜드아이파크아파트 앞,23,30,화곡6동,강서구,1.2,0,0,22942.759

In [9]:
# 대여소 번호 필터링
stations = [1124, 1153, 1158, 1160, 1166, 2701, 2715, 2721, 2728, 3798]
df = df[df['ID'].isin(stations)]
df

Empty DataFrame
Columns: [date, ID, name, hour, count, addr1, addr2, temp, rain, rain_amount, people]
Index: []

In [14]:
# 대여소 번호 필터링
stations = [1124, 1153, 1158, 1160, 1166, 2701, 2715, 2721, 2728, 3798]
filtered_df = df[df['ID'].isin(stations)]

# 필요한 열만 선택
filtered_df = filtered_df[['date', 'ID', 'hour','count']]

In [15]:
# 열 이름 변경하기 (예: '일시'를 'datetime'으로 변경)
filtered_df.rename(columns={'date': 'datetime'}, inplace=True)
# 결과 출력
print(filtered_df)

Empty DataFrame
Columns: [datetime, ID, hour, count]
Index: []